
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/919073/pexels-photo-919073.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);">
  <div class="container w-50">
    <h1> Awesome garage </h1>
    <p> Your personal garage with the car of your dreams </p>
     <a class="btn btn-flat" href="/cars">Enter</a>
  </div>
</div>
