<h1>All of our Available Cars</h1>

  <% @cars.each do |car|%>
    <h2><%= car.brand %></h2>
    <h3><%= car.model%></h3>
    <p><%=car.created_at.strftime("%a %b %e at %l:M %p") %></li>
    <p><%= car.owner.nickname%></p>
  <%end%>
